<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="//cdn.bootcss.com/bootswatch/3.3.5/slate/bootstrap.min.css" rel="stylesheet"> -->
    <link href="//cdn.bootcss.com/bootswatch/3.3.5/paper/bootstrap.min.css" rel="stylesheet">
    <link href="/_/css/dirlist.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>dir - {{.dir}}</title>
  </head>
  <body>
    {{template "header" .}}
    <div class="container">
	  <div class="col-md-12">
      <table cellspacing=0 class="table">
        <h5>Directory List:  {{.dir}}</h5>
        <thead>
          <th>File</th>
          <th>Size</th>
          <th>Link</th>
          <th>Last Modified</th>
        </thead>
        {{range .files}}
        <tr>
          <td class="name">
            {{if ne .size "-"}}
            
            <a href="{{.href}}">{{.name}}</a>
            {{else}}
            <a href="{{.href}}">
              <span class="glyphicon glyphicon-folder-open"></span>
              <strong>{{.name}}</strong>
            </a>
            {{end}}
          </td>
          <td>{{ .size }}</td>
          <td>
            {{if ne .size "-"}}
				<a href="{{.href}}">
				  <span class="glyphicon glyphicon-download-alt"></span>
				</a>
				&nbsp;
				<span data="http://{{.host}}/{{.path}}" file_name="{{.name}}"
					class="glyphicon glyphicon-qrcode">
				</span>
            {{else}}
				{{if eq .name ".." }}
				<button data-toggle="modal" data-target="#upload-modal" class="btn btn-xs btn-success">
				  <span class="glyphicon glyphicon-upload"></span> upload
				</button>
				{{end}}
            {{end}}
          </td>
          <td class="mtime">{{ .mtime }}</td>
        </tr>
        {{end}}
      </table>
	  </div>
      <script>
      $(function(){
		  $("span.glyphicon-qrcode").click(function(){
			  var url = $(this).attr("data");
        var file_name = $(this).attr("file_name");
		      // $("#qr-image").attr("src", "/_qr?text="+url);
		      // $("#qr-title").text(url);
          //update qrcode by aTool, do not use modal
          share_file(url, file_name);
		  });
		  $('[data-toggle="tooltip"]').tooltip();
          $("#btn-upload").click(function(){
            $("#form-upload").submit();
          });
      })
      function share_file(url, file_name) {
        document.getElementById("share_file_box").innerHTML = '<div class="full_screen_bg" onclick="this.parentNode.innerHTML=\' \';"></div><div class="share_file"><a href="javascript:;" onclick="this.parentNode.parentNode.innerHTML=\' \';" class="popup_close">×</a><p>下载该文件</p><p class="file_url">'+file_name+'</p><img class="qrcode" width="200" height="200" src="/_qr?text=' + url + '" /><p>打开手机扫一扫，对准二维码扫描即可下载地址。</p></div>';
        return false;
      }
      </script>

      <!-- File Upload Modal -->
      <div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">文件上传</h4>
            </div>
            <div class="modal-body">
              <form id="form-upload" role="form" method="post" enctype="multipart/form-data">
                  <input class="form-control" name="file" type="file" multiple="multiple" required>
              </form>
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button id="btn-upload" type="button" class="btn btn-primary">上传</button>
            </div>
          </div>
        </div>
      </div>

      <!-- QR Code Modal -->
      <!-- update qrcode by aTool  -->
      <div id="share_file_box"></div>

      <!-- <div class="modal fade" id="qrcode-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">QR CODE</h4>
            </div>
            <div class="modal-body">
  			  <h4 id="qr-title"></h4>
			  <img id="qr-image" src="/_qr?text=hello"/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> -->

      {{template "footer" .}}
    </div>
  </body>
</html>
