<div id="footer" class="pull-right">
    <a href="https://github.com/codeskyblue/file-server">HTTP File Server</a>,
    written by <a href="http://shengxiang.me">Shengxiang</a>. 2015. go 1.4
</div>
